header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 18px;
}

nav {
  margin-top: 40px;

  & h1 {
    text-transform: uppercase;
  }
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  position: relative;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  min-width: 595px;

  & > input {
    all: unset;
  }

  & #seach {
    width: 100%;
    border: 1px solid var(--purple);
    padding: 8px 16px;
    border-radius: 5px;

    font: var(--search-text);
    color: var(--purple);
  }

  & button {
    border: none;
    background: url(/assets/icon-search.svg) no-repeat;
    position: absolute;

    width: 21px;
    height: 21px;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

#select-btn {
  display: flex;
  width: 93px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  align-items: center;

  background-color: var(--purple);
  padding: 10px;
  border-radius: 5px;
}

#selected-value {
  color: var(--white);
  font: var(--select-text);
}

#chevrons img[src="/assets/chevron-up.svg"] {
  display: none;
}

#input-view-btn:focus + #select-btn,
#input-view-btn:checked + #select-btn {
  outline: 2px solid var(--purple);
  filter: drop-shadow(0 0 4px var(--purple));
}

#filter-select:has(#input-view-btn:checked),
#input-view-btn:checked + #select-btn {
  background-color: #534cc2;
}

#input-view-btn:checked
  + #select-btn
  #chevrons
  img[src="/assets/chevron-down.svg"] {
  display: none;
}

#input-view-btn:checked
  + #select-btn
  #chevrons
  img[src="/assets/chevron-up.svg"] {
  display: block;
}

#filter-select {
  position: relative;
}

#input-view-btn {
  all: unset;
  inset: 0;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

#options {
  border-radius: 5px;
  border: 1px solid var(--purple);
  background: var(--white);
  position: absolute;

  display: none;
}

.option {
  display: flex;
  gap: 0.5rem;
  padding: 8.4px 6px;

  position: relative;
  z-index: 2;
  cursor: pointer;
}

.option .label {
  color: var(--purple);
  font: var(--option-text);
}

.option:has(input:checked),
.option:hover {
  background-color: rgba(108, 99, 255, 0.2);
}

.option:has(input:focus) {
  outline: 1px solid rgba(108, 99, 255, 0.2);
  border-radius: 5px;
}

.option input[type="radio"] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#filter-select:has(#input-view-btn:checked) + #options {
  display: block;
}

.scheme-mode {
  background-color: var(--purple);
  border-radius: 5px;
  position: relative;
  padding: 8px;
  height: 38px;
  width: 38px;
}

.scheme-mode input[type="checkbox"] {
  all: unset;
  inset: 0;
  position: absolute;
  cursor: pointer;
}

.scheme-mode input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border-radius: 5px;
  padding: 8px;
  background: url(/assets/sun.svg) no-repeat center center;
}

.scheme-mode input[type="checkbox"]:checked + img {
  display: none;
}

.scheme-mode input[type="checkbox"]:not(:checked) {
  background: url(/assets/moon.svg) no-repeat center center;
}

.scheme-mode input[type="checkbox"]:focus-within {
  background-color: var(--purple-dark);
  border-radius: 5px;
  padding: 8px;
  outline: 2px solid var(--purple);
  filter: drop-shadow(0 0 4px var(--purple));
}

@media (width <= 1000px) {
  .input-wrapper {
    min-width: 100%;
  }
}
