.note-content {
  margin-bottom: 30px;
}

.note {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
  justify-content: space-between;

  position: relative;
}

label {
  width: 100%;
  font: var(--label-text);
  text-align: left;
  text-transform: uppercase;
}

#checked {
  inset: 0;
  all: unset;
  width: 100%;
  height: 100%;

  position: absolute;
  cursor: pointer;
}

.checkbox {
  background-image: url(/assets/checkbox-stroke.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
}

#checked:checked + .checkbox {
  background-image: url(/assets/checkbox.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
}

.icons-note {
  display: flex;
  gap: 10px;
  position: relative;
}

.icon-pencil {
  background: url(/assets/pencil.svg) no-repeat center/contain;

  width: 18px;
  height: 18px;

  cursor: pointer;
  z-index: 1;
}

.icon-pencil:hover {
  background: url(/assets/pencil-hover.svg) no-repeat center/contain;

  width: 18px;
  height: 18px;

  cursor: pointer;
  z-index: 1;
}

.icon-trash {
  background: url(/assets/trash.svg) no-repeat center/contain;

  width: 18px;
  height: 18px;

  cursor: pointer;
  z-index: 1;
}

.icon-trash:hover {
  background: url(/assets/trash-hover.svg) no-repeat center/contain;

  width: 18px;
  height: 18px;

  cursor: pointer;
  z-index: 1;
}

.divisor {
  background-color: var(--purple);
  width: 100%;
  height: 1px;
}

.sucess-message {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font: var(--label-text);
  color: white;
  background-color: var(--purple);
  padding: 10px 12px;
  border-radius: 5px;

  position: fixed;
  bottom: 30px;

  animation:
    messageApper 400ms ease forwards,
    messageClose 400ms ease 2s forwards;
}

.error-message {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font: var(--label-text);
  color: white;
  background-color: #d31f1f;
  padding: 10px 12px;
  border-radius: 5px;

  position: fixed;
  bottom: 30px;
  z-index: 10;

  animation:
    messageApper 800ms ease forwards,
    messageClose 400ms ease 2s forwards;
}

.edit-container {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-70%);
  border-radius: 5px;
  z-index: 8;

  width: fit-content;
  display: flex;
  gap: 8px;
  padding: 8px;

  background-color: #f0f0f0;
  border-radius: 5px;

  & .edit-label {
    all: unset;

    font: var(--label-text);
    text-transform: uppercase;
    color: var(--purple);
  }

  & > span {
    display: flex;
    align-items: center;
    gap: 4px;

    font: var(--edit-text);
    text-transform: uppercase;
    color: #cdcdcd;
  }
}
@media (width <= 460px) {
  .sucess-message {
    bottom: 120px;
    font: var(--option-text);
  }

  .error-message {
    bottom: 120px;
    font: var(--option-text);
  }
}

@media (width <= 1000px) {
  .edit-container {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-70%);
    border-radius: 5px;
    z-index: 8;

    width: 60%;
    display: flex;
    gap: 8px;
    padding: 8px;

    & .edit-label {
      width: 100%;
      font: 0.5rem;
    }
  }
}

@keyframes messageApper {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes messageClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
